.about{
    position: relative;
    background: #fdaace;
    padding: 100px;
    overflow: hidden;
}
.text{
    background-color: aliceblue;
    border-radius:10px ;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
    color: black;
   
}
    

.slider{
    
    position: relative;
    width: 20%;
    height: 370px;
    overflow: hidden;
    /* margin: 2rem; */
    /* border: 2px solid black; */
}
.main_text{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: var(--size-4xl);
}
.paragraph{
    position: absolute;
    margin-top: 2rem;
    top: 30%;
    left: 10%;
    font-size: var(--size-sm);
}
.item{
    position: absolute;
    width: 200px;
    height: 400px;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    /* padding: 20px; */
    transition: 0.5s;
    left: calc(50% - 110px);
    top:0;
}
#next, #prev{
    position: absolute;
    bottom: 20%;
    color: white;
    background-color: transparent ;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    
}
#next{
    left: unset;
    right: 8%;
    color:var(--clr-dark);
}
#prev{
    right: 23%;
    color: var(--clr-dark);
}
img{
    border-radius:10px ;
    height: 100%;
    
}