header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: #fecdd3;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: var(--clr-sky);
    pointer-events: none;
    margin-right: 570px;
    border-radius: 20%;
    padding: 20px;

}
.header__menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
}
.header__link {
    font-size: var(--size-base);
    text-decoration: none ;
    font-weight: 600;
    color: var(--clr-slate);
    letter-spacing: -0.05em;
    transition: color .3s;
}
.header__link:hover{
    color: var(--clr-sky);
}