.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5rem;
}
.parallax img{
    position: absolute;
    pointer-events: none;
    
}
#text{
    position: absolute;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#img1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
#img2{
    position: absolute;
    right: 0;
    width: 50%;
}
#img3{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}
#img6{
    width: 100%;
}